# Ignore virtual environment folder
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore system files (like on Mac)
.DS_Store

# Ignore IDE config files
.idea/

# Ignore environment variables file if you use one
.env

# Ignore WebStorm specific files
.idea/