.flashes-messages {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
}

.flashes-messages .success {
    color: green;
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 4px;
}

.flashes-messages .error {
    color: red;
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 4px;
}

