<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>List of Users</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>List of Users</h1>
  <ul class="user-list">
    {% for user in users %}
    <a href="{{ url_for('users.user_movies', user_id=user.id)}}" class="user-link">
      <li>{{ user.name.title() }} (ID: {{ user.id }})</li>
    </a>
    <form action="{{ url_for('users.delete_user', user_id=user.id) }}" method="POST" style="display: inline">
      <button type="submit" onclick="return confirm('Are you sure you wanna delete this user?')">Delete</button>
    </form>
    {% else %}
    <li>No users found</li>
    {% endfor %}
  </ul>
</body>
</html>

